{% set output_file_parts = output_file.split('/') %}
{% set sub_site = 'main' %}
{% set sub_parts = (output_file_parts | length) - 1 %}
{% if output_file_parts | length > 1 %}
    {% set sub_site = output_file_parts[0] %}
    {% set subsub_site = output_file_parts[-2] %}
{% endif %}
{% set category_data = THEME_ARTICLE_CATEGORIES[article.category] %}
{% if sub_site %}
    {% if category_data and 'tint' in category_data %}
        {% set background_tint = category_data["tint"] %}
    {% else %}
        {% if sub_site in THEME_SITECOLORS and 'tint' in THEME_SITECOLORS[sub_site] %}
            {% set background_tint = THEME_SITECOLORS[sub_site]["tint"] %}
        {% else %}
            {% set background_tint = THEME_DEFAULT_HEADER_BACKGROUND_TINT %}
        {% endif %}
    {% endif %}
    {% if sub_site in THEME_SITECOLORS and 'overlay' in THEME_SITECOLORS[sub_site] %}
        {% set overlay_tint = THEME_SITECOLORS[sub_site]["overlay"] %}
    {% else %}
        {% set overlay_tint = THEME_DEFAULT_HEADER_OVERLAY_TINT %}
    {% endif %}
{% else %}
    {% set background_tint = THEME_DEFAULT_HEADER_BACKGROUND_TINT %}
    {% set overlay_tint = THEME_DEFAULT_HEADER_OVERLAY_TINT %}
{% endif %}
{% if article.headerimage %}
    {% set header_image = article.headerimage %}
    {% set header_image_cc = article.headerimagecc %}
{% else %}
    {% set header_image = THEME_DEFAULT_ARTICLE_HEADER_BG %}
{% endif %}
{% if 'theme::' in header_image %}
    {% set header_image = header_image.split('::')[1] %}
    {% set header_image = '../' * sub_parts + 'theme/images/'+header_image %}
    {% if 'everyday-patterns' in header_image %}
        {% set header_image_cc = 'Background photo by Toni Heittola / CC BY-NC 4.0' %}
    {% endif %}
{% else %}
    {% set header_image = '../' * sub_parts + '/' +header_image %}
{% endif %}

{% if article.headeroverlay %}
    {% set header_overlay = article.headeroverlay %}
    {% if 'theme::' in header_overlay %}
        {% set header_overlay = header_overlay.split('::')[1] %}
        {% set header_overlay = '../' * sub_parts + 'theme/images/'+header_overlay %}
    {% else %}
        {% set header_overlay = '../' * sub_parts + '/' +header_overlay %}
    {% endif %}
{% endif %}
{% set overlay_css = 'box-shadow: 0px 1000px '+overlay_tint+' inset;' %}
<header class="article-top" {% if header_image %}style="background-image: url({{header_image}});box-shadow: 0px 1000px {{background_tint}} inset;overflow:hidden;position:relative"{% endif %}>
    <div class="container" style="height:100%;">
        <div class="row" style="height:100%;">
            <div class="col-md-offset-2 col-md-8 b20" style="height:100%;{{overlay_css}}">
                <div class="page-heading {{pageheadingclass}}" style="height:100%;">
                    <div class="pull-right">
                    {% if '.svg' in header_overlay %}
                        <object class="img img-responsive sr-header-overlay" type="image/svg+xml" data="{{header_overlay}}"></object>
                    {% else %}
                        <img class="img img-responsive sr-header-overlay" src="{{header_overlay}}">
                    {% endif %}
                    </div>
                    <h2>{{article.title}}</h2>
                    {% if article.headertext %}
                    <hr class="small">
                    <span class="subheading">{{article.headertext}}</span>
                    {% endif %}
                    <div class="text-muted2 pull-left">
                        <small>
                            <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>,
                            <em><strong>{{ article.author }}</strong></em>
                        </small>
                    </div>
                    <div class="text-muted2 pull-right">
                        <small>
                        {% if category_data and 'label-css' in category_data %}
                        <span class="{{category_data['label-css']}}">
                        {% else %}
                        <span class="label label-default">
                        {% endif %}
                            {{ article.category }}
                        </span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if header_image_cc %}
    <span class="header-cc-logo" data-toggle="tooltip" data-placement="top" title="{{header_image_cc}}"><i class="fa fa-creative-commons" aria-hidden="true"></i></span>
    {% endif %}
</header>